<div class="comments">
<%= form_with(model: [ @post ,@post.comments.build ], local: true) do |f| %>


 <%= f.hidden_field :post_id, :value => @post.id %>


<br>

<div class="card-header1" > 
 <% if current_user  %>
   <%# <h5 class="card-text" > ADD COMMENT </h5> %>
   
    <%= f.text_area :content ,class:"form-control", id:"exampleFormControlTextarea3" , rows:"7"  , placeholder: 'ADD COMMENT HER'%>
<br>
<br>
<br>
</div>

    <%= f.submit "Add" ,  class:"btn btn-light" , id:"add" %>
    
<%end%>
<%end%>
