// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card-header {
    width: 100%;
    text-align: center;
}

.comments {

    width: 50%;
    padding: 20px;
    margin: auto;

}

.text_area{
    width: 60%;
    height: 200%;
}

